.card{
    .padge{
        top: 10px;
        left: 10px;
        font-size: 0.8rem;
        padding: 3px 20px;
        color: white;
        border-radius: 50px;
        background-color: rgb(99, 190, 8);
    }
}

a{
    text-decoration: none;
    color: black;
}