.nav-link {
    p{
       right: -2px;
    }
    .padge{
        font-size: 12px;
        top: 6px;
        border-radius: 3px;
    }
}
.heart{
      top: -5px;
    right: 0px;
    color: red;
}
.fav-number{
    top: -8px;
    right: 5px;
color: white;
}

.active{
    color: greenyellow;
}